#
# Project specific excludes
#
# Maven
target/

# IntelliJ project files
.DS_Store
*.iml
.idea/
*.log
out/

# Eclipse project file
.settings
.project
.classpath
target/
test-output/
.orig
.gitignore
